body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
main {
    margin: 0 250px;
}
#formul-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}
#formul-header-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#formul-header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2 {
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* nav li {
	padding: 0 10px;
	font-size: 1.2em;
} */
nav ul li {
    list-style: none;
    padding: 0 10px;
	font-size: 1.2em;
}
main {    
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* h1 { 
    
} */
h1 span {
    font-size: 10px;
}
form {
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
form h2 {
    color: #1D6154;
}
form #forgotten-password {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

form label {
    float: left;
}
#emailText {
position: relative;
    right: 170px;
}
#passwordText {
position: relative;
    right: 145px;
}
input {
    width: 379px;
    height: 51px;
    margin: 5px 15px 25px;
}
 form #loginButton {
        border-radius: 50px;
        height: 36px;
        width: 179px;
        font-family: 'Syne';
        font-weight: 700;
        color: white;
        background-color: #1D6154;
        margin: 2em auto;
        width: 180px;
        text-align: center;
        border-radius: 60px;
    }

    form #login-button:hover {}

    /* input[type="submit"] {
      
    } */

    footer {
        display: flex;
        justify-content: end;
    }